@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Momo+Trust+Display&family=Stack+Sans+Headline:wght@200..700&display=swap');
body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    
    
}
.continer{
    width: 100%;
    height: auto;
    /* overflow: hidden; */
    background-color: rgb(0, 0, 0);
}
.landing-page{
    width: 100%;
    height: 700px;
    background-color: rgba(18, 19, 21);
    margin: auto;
}
.head{
    width: 100%;
    height: 50px;
    background-color: rgba(18, 19, 21);
}
.head {
  position: sticky;
  top: 0;
  z-index: 99999;
  /* background-color: #1a1818; */
}
.menu{
    width: 41.5%;
    height: 100%;
    /* background-color:rgba(18, 19, 21); */
    float: right;
    word-spacing:80px;
    
}
.menu ul{
    list-style-type:none;
    /* justify-self: center; */
    /* align-items: center; */
    margin: 10px;
    

}
.menu ul li{
    text-decoration: none;
    display: inline;
    font-size: 22px;
    color: white;
    font-family: "Stack Sans Headline", sans-serif;
}
.background{
    width: 100%;
    height: 800px;
    bottom: 100px;
    overflow: hidden;
    position: relative;
}
.background img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.human-picture {
    position: absolute;
    top: 90px;
    left: 130px;
    width: 760px;
    height: 700px;
    
}
.name-kakada{
    position: absolute;
    top: 270px;
    left: 80px;
    width: 400px;
    height: 400px;
    /* background-color: red; */
    line-height: 10px;
}
.name-kakada h1{
    color: #EFA800;
    font-size: 100px;
    font-family: "Momo Trust Display", sans-serif;
}
.name-kakada h2{
    color: white;
    font-size: 90px;
    font-family: "Inter", sans-serif;
    
}
.box-line{
    position: absolute;
    top: 200px;
    width: 130px;
    height: 10px;
    background-color: white;
}
.box-info{
    position: absolute;
    top: 220px;
    width: 150px;
    height: 60px;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    justify-content: space-around;
}
.info-link{
    width: 65px;
    height: 100%;
    /* background-color: yellow; */
}
.fb{
    color: rgb(255, 255, 255);
    font-size: 35px;
}
.tg{
    color: rgb(255, 255, 255);
    font-size: 35px;
}
.ig{
    color: rgb(255, 255, 255);
    font-size: 35px;
}
.intro{
    position: absolute;
    top: 260px;
    right: 80px;
    width: 450px;
    height: 500px;
    /* background-color: rgb(37, 37, 32); */
    line-height: 40px;
}
.intro h1{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #EFA800;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 20px;
}
.intro h2{
    font-size: 30px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-left: 50px;
}
.intro p{
    font-size: 18px;
    color: white;
    font-family: "Inter", sans-serif;
    margin-left: 50px;
    line-height: 25px;
}
.intro h3{
    font-size: 25px;
    color: #EFA800;
    margin-left: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.arrow {
    font-size: 25px;
    margin-left: 20px;
}
.line-story{
    position: absolute;
    margin-left: 50px;
    bottom: 150px;
    width: 120px;
    height: 2px;
    font-weight: 400;
    background-color:  #EFA800;
}
.cover-mid-page{
    width: 100%;
    height: 1230px;
    background-color: #211F1F;
}
.mid-page{
    margin: auto;
    width: 1400px;
    height: 1230px;
    background-color: #211F1F;
    position: relative;
    
}
.about-me{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 720px;
    height: 220px;
    /* background-color: rgb(226, 17, 17); */

}
.about-me h1{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #EFA800;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 20px;
}
.about-me p{
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    margin-left: 40px;
    margin-top: 20px;
    line-height: 35px;
    /* font-weight: 700; */
}
.about-me-picture{
    position: absolute;
    top: 240px;
    left: 40px;
    width: 500px;
    height: 500px;
    background-color: white;
}
.skill-info{
    position: absolute;
    width: 700px;
    height: 700px;
    /* background-color: white; */
    right: 50px;
    top: 100px;
    /* overflow: hidden; */
}
.skill-info h1{
    font-size: 30px;
    font-family: "Inter", sans-serif;
    color: #EFA800;
    letter-spacing: 2px;
    font-weight: 700; 
    line-height: 20px;
}
.box-line-skill{
    top: 45px;
    position: absolute;
    width: 90px;
    height: 5px;
    background-color: #EFA800;
}
.box-skill-info{
    width: 100%;
    height: 650px;
    /* background-color: red; */
    
}
.skill-one{
    width: 100%;
    height: 80px;
    background-color: #EFA800;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.skill-one-minibox{
    width: 80px;
    height: 90%;
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-one-minibox h1{
    font-size: 30px;
    font-family: "Inter", sans-serif;
    
}
.skill-one-letter{
    width: 290px;
    height: 90%;
    /* background-color: rgb(128, 31, 31); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-one-letter h1{
    font-size: 30px;
    color: white;
    font-family: "Inter", sans-serif;
}
.skill-line-up{
    width: 5px;
    height: 100%;
    background-color: black;
}
.skill-word{
    width: 290px;
    height: 100%;
    /* background-color: rgb(255, 255, 255); */
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.skill-word h1{
    font-size: 15px;
    color: black;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    letter-spacing: 0;
}
.contact-box{
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: #211F1F;
    bottom: 0;
    
}
.contact-minibox{
    margin: auto;
    width: 1300px;
    height: 100%;
    background-color: #211F1F;

}
.contact-minibox h1{
    margin: 0;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #EFA800;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 20px;
}
.contact-minibox h2{
    margin-left: 20px;
    font-size: 30px;
    color: white;
    font-family: "Inter", sans-serif;
}
.contact-minibox h3{
    margin-left: 20px;
    font-size: 18px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.contact-minibox h4{
    margin-left: 20px;
    color: #EFA800;
    font-size: 25px;
     font-family: "Inter", sans-serif;
}
.exp{
    position: absolute;
    top: 100px;
    right: 200px;
    width: 500px;
    height: 300px;
    /* background-color: red; */
}
.exp h1{
    margin: 0;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    color: #EFA800;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 20px;
}
.exp h2{
    margin-top: 30px;
    font-size: 30px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
.exp h3{
    position: absolute;
    font-size: 55px;
    color: #EFA800;
    font-weight: 700;
    top: 140px;
    font-family: "Inter", sans-serif;
}
.exp h4{
    position: absolute;
    font-size: 55px;
    color: #EFA800;
    font-weight: 700;
    top: 120px;
    left: 250px;
    font-family: "Inter", sans-serif;
}
.exp h5{
    position: absolute;
    color: white;
    font-size: 17px;
    top: 180px;
    left: 90px;
    font-family: "Inter", sans-serif;
}
.exp h6{
    position: absolute;
    color: white;
    font-size: 17px;
    top: 165px;
    left:370px;
    font-family: "Inter", sans-serif;
}
.more-info{
    width: 1400px;
    height: 460px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box-mini-info{
    width: 400px;
    height: 90%;
    background-color: #EFA800;
    justify-content: center;

    
}
.cover-box-info{
    margin-top: 115px;
    width: 100%;
    height: 130px;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}   
.mini-box-show{
    width: 30%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-show{
    font-size: 40px;
    color: white;
}
.mini-box-show-text{
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
}
.mini-box-show-text h1{
    font-size: 35px;
    color: white;
    font-family: "Inter", sans-serif;
}
.mini-box-show-more-text{
    width: 100%;
    height: 30px;
    /* background-color: blue; */
    display: flex;
    align-items: center;    
}
.mini-box-show-more-text h1{
    margin: 0;
    margin-left: 160px;
    font-size: 18px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.cover-education{
    width: 100%;
    height: 1400px;
    background-color: red;
}
.education{
    margin: auto;
    width: 1400px;
    height: 500px;
    background-color: black;
    line-height: 25px;
}
.education h1{
    color: #EFA800;
    font-size: 50px;
    font-family: "Inter", sans-serif;
    text-align: center  ;
}
.education p{
    color: white;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    text-align: center  ;
    
}
.education-box-cover-picture{
    width: 100%;
    height: 390px;
    background-color: blue;
    display: flex;
} 
.education-box-picture{
    width: 45%;
    height: 100%;
    background-color: white;
}
.education-box-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.education-box-text{
    width: 55%;
    height: 100%;
    background-color: rgb(255, 117, 117);
}
.education-box-text h1{
    font-size: 35px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.education-box-text p{
    margin-top: 40px;
    margin-left: 40px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: left;
}