body{
    background-color: rgb(255, 255, 255);
}
h1 {
    color: red;
}
.head{
    width: 1200px;
    height: 700px;
    background-color: blue;
}
.box1{
    width: 500px;
    height: 500px;
    background-color: black;
}
.box2{
    width: 500px;
    height: 400px;
    background-color: red;
}