@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Momo+Trust+Display&family=Stack+Sans+Headline:wght@200..700&display=swap');
body{
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    
    
}
html {
  scroll-behavior: smooth;
}

.continer{
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
}
.landing-page{
    width: 100%;
    height: 750px;
    background-color: rgba(18, 19, 21);
    margin: auto;
}
.head{
    width: 100%;
    background-color: rgba(18, 19, 21);
}
.head {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 9999999;
  /* background-color: #1a1818; */
}
.menu{
    width: 45.5%;
    height: 100%;
    /* background-color:rgba(18, 19, 21); */
    /* float: right; */
    word-spacing:80px;
    margin-left: 50%;
    
}
.menu ul{
    list-style-type:none;
    /* justify-self: center; */
    /* align-items: center; */
    margin: 10px;
    

}
.menu ul li{
    text-decoration: none;
    display: inline;
    font-size: 22px;
    color: white;
    font-family: "Stack Sans Headline", sans-serif;
}
.menu ul li:hover{
    color: #EFA800;
    transition: 0.5s;
}
.menu a{
    text-decoration: none;
}
.background{
    margin: auto;
    width: 1400px;
    height: 900px;
    bottom: 100px;
    overflow: hidden;
    position: relative;
}
.background img{
    width: 100%;
    height: auto;
    object-fit: contain;
}
.human-picture {
    position: absolute;
    top: 130px;
    left: 110px;
    width: 760px;

    
}
.name-kakada{
    position: absolute;
    top: 320px;
    left: 80px;
    width: 400px;
    /* background-color: red; */
    line-height: 10px;
}
.name-kakada h1{
    color: #EFA800;
    font-size: 100px;
    font-family: "Momo Trust Display", sans-serif;
}
.name-kakada h2{
    color: white;
    font-size: 90px;
    font-family: "Inter", sans-serif;
    
}
.box-line{
    position: absolute;
    top: 200px;
    width: 130px;
    height: 10px;
    background-color: white;
}
.box-info{
    position: absolute;
    top: 220px;
    width: 150px;
    height: 60px;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    justify-content: space-around;
}
.info-link{
    width: 65px;
    height: 100%;
    /* background-color: yellow; */
}
.fb{
    color: rgb(255, 255, 255);
    font-size: 35px;
}
.tg{
    color: rgb(255, 255, 255);
    font-size: 35px;
}
.ig{
    color: rgb(255, 255, 255);
    font-size: 35px;
}
.fb:hover{
    color: #EFA800;
    transition: 0.5s;
}
.tg:hover{
    color: #EFA800;
    transition: 0.5s;
}
.ig:hover{
    color: #EFA800;
    transition: 0.5s;
}
.intro{
    position: absolute;
    top: 300px;
    right: 30px;
    width: 450px;
    height: 500px;
    /* background-color: rgb(37, 37, 32); */
    line-height: 40px;
}
.intro h1{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #EFA800;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 20px;
}
.intro h2{
    font-size: 30px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-left: 50px;
}
.intro p{
    font-size: 18px;
    color: white;
    font-family: "Inter", sans-serif;
    margin-left: 50px;
    line-height: 25px;
}
.intro h3{
    font-size: 25px;
    color: #f0a800;
    margin-left: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.intro h3:hover{
    font-size: 25px;
    color: #ffffff;
    margin-left: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    transition: 0.5s;
}
.arrow {
    font-size: 25px;
    margin-left: 20px;
}
.line-story{
    position: absolute;
    margin-left: 50px;
    bottom: 150px;
    width: 120px;
    height: 2px;
    font-weight: 400;
    background-color:  #EFA800;
}
.cover-mid-page{
    width: 100%;
    height: 1230px;
    background-color: #211F1F;
}
.mid-page{
    margin: auto;
    width: 1400px;
    height: 1230px;
    background-color: #211F1F;
    position: relative;
    
}
.about-me{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 720px;
    height: 220px;
    /* background-color: rgb(226, 17, 17); */

}
.about-me h1{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #EFA800;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 20px;
}
.about-me p{
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    margin-left: 40px;
    margin-top: 20px;
    line-height: 35px;
    font-weight: 300;
}
.about-me-picture{
    position: absolute;
    top: 240px;
    left: 40px;
    width: 500px;
    height: 500px;
    background-color: white;
}
.skill-info{
    position: absolute;
    width: 700px;
    height: 700px;
    /* background-color: white; */
    right: 50px;
    top: 100px;
    /* overflow: hidden; */
}
.skill-info h1{
    font-size: 30px;
    font-family: "Inter", sans-serif;
    color: #EFA800;
    letter-spacing: 2px;
    font-weight: 700; 
    line-height: 20px;
}
.box-line-skill{
    top: 45px;
    position: absolute;
    width: 90px;
    height: 5px;
    background-color: #EFA800;
}
.box-skill-info{
    width: 100%;
    height: 650px;
    /* background-color: red; */
    
}
.box-skill-info a{
    text-decoration: none;
}
.skill-one{
    width: 100%;
    height: 80px;
    background-color: #EFA800;
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.skill-one:hover{
    background-color: white;
    transition: 0.5s;
    .skill-one-letter h1 {
        color: black;
        transition: 0.5s;
    }
    .skill-one-minibox h1{
        color: white;
        transition: 0.5s;
    }
}
.skill-one-minibox{
    width: 80px;
    height: 90%;
    background-color: rgb(0, 0, 0);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-one-minibox h1{
    font-size: 30px;
    font-family: "Inter", sans-serif;
    
}
.skill-one-letter{
    width: 290px;
    height: 90%;
    /* background-color: rgb(128, 31, 31); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.skill-one-letter h1{
    font-size: 30px;
    color: white;
    font-family: "Inter", sans-serif;
}

.skill-line-up{
    width: 5px;
    height: 100%;
    background-color: black;
}
.skill-word{
    width: 290px;
    height: 100%;
    /* background-color: rgb(255, 255, 255); */
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.skill-word h1{
    font-size: 15px;
    color: black;
    line-height: 20px;
    font-family: "Inter", sans-serif;
    letter-spacing: 0;
}
.contact-box{
    position: absolute;
    width: 100%;
    height: 400px;
    background-color: #211F1F;
    bottom: 0;
    
}
.contact-minibox{
    margin: auto;
    width: 1300px;
    height: 100%;
    background-color: #211F1F;

}
.contact-minibox h1{
    margin: 0;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #EFA800;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 20px;
}
.contact-minibox h2{
    margin-left: 20px;
    font-size: 30px;
    color: white;
    font-family: "Inter", sans-serif;
}
.contact-minibox h3{
    margin-left: 20px;
    font-size: 18px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.contact-minibox h4{
    margin-left: 20px;
    color: #EFA800;
    font-size: 25px;
     font-family: "Inter", sans-serif;
}
.exp{
    position: absolute;
    top: 100px;
    right: 200px;
    width: 500px;
    height: 300px;
    /* background-color: red; */
}
.exp h1{
    margin: 0;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    color: #EFA800;
    letter-spacing: 2px;
    font-weight: 700;
    line-height: 20px;
}
.exp h2{
    margin-top: 30px;
    font-size: 30px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
.exp h3{
    position: absolute;
    font-size: 55px;
    color: #EFA800;
    font-weight: 700;
    top: 140px;
    font-family: "Inter", sans-serif;
}
.exp h4{
    position: absolute;
    font-size: 55px;
    color: #EFA800;
    font-weight: 700;
    top: 120px;
    left: 250px;
    font-family: "Inter", sans-serif;
}
.exp h5{
    position: absolute;
    color: white;
    font-size: 17px;
    top: 180px;
    left: 90px;
    font-family: "Inter", sans-serif;
}
.exp h6{
    position: absolute;
    color: white;
    font-size: 17px;
    top: 165px;
    left:370px;
    font-family: "Inter", sans-serif;
}
.more-info{
    width: 1400px;
    height: 460px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box-mini-info{
    width: 400px;
    height: 90%;
    background-color: #211F1F;
    justify-content: center;

    
}
.box-mini-info:hover{
    background-color: #EFA800;
    transition: 0.5s;
}
.cover-box-info{
    margin-top: 115px;
    width: 100%;
    height: 130px;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}   
.mini-box-show{
    width: 30%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-show{
    font-size: 40px;
    color: white;
}
.mini-box-show-text{
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
}
.mini-box-show-text h1{
    font-size: 35px;
    color: white;
    font-family: "Inter", sans-serif;
}
.mini-box-show-more-text{
    width: 100%;
    height: 30px;
    /* background-color: blue; */
    display: flex;
    align-items: center;    
}
.mini-box-show-more-text h1{
    margin: 0;
    margin-left: 160px;
    font-size: 18px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.cover-education{
    width: 100%;
    height: 1150px;
    background-color: #211F1F;
}
.education{
    margin: auto;
    width: 1400px;
    height: 500px;
    background-color: #211F1F;
    line-height: 25px;
}
.education h1{
    color: #EFA800;
    font-size: 50px;
    font-family: "Inter", sans-serif;
    text-align: center  ;
}
.education p{
    color: white;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    text-align: center  ;
    
}
.education-box-cover-picture{
    width: 100%;
    height: 390px;
    background-color: #211F1F;
    display: flex;
} 
.education-box-picture{
    width: 45%;
    height: 100%;
    background-color: white;
}
.education-box-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.education-box-text{
    width: 55%;
    height: 100%;
    background-color: #211F1F;
}
.education-box-text h1{
    font-size: 35px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-align: left;
    line-height: 35px;
    margin-left: 20px;
}
.education-box-text p{
    margin-top: 40px;
    margin-left: 40px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: left;
}
.education-box-text h2{
    margin-top: 140px;
    margin-left: 70px;
    color: white;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 1px;
}
.line-details{
    width: 230px;
    height: 2px;
    background-color: white;
    margin-left: 70px;
}
.space{
    width: 100%;
    height: 70px;
}
.cover-feren{
    width: 100%;
    background-color: #211F1F;
    margin: auto;
}
.feren{
    position: relative;
    width: 1400px;
    height: 700px;
    background-color: #211F1F;
    margin: auto;
}
.feren h1{
    margin: 0;
    color: #EFA800;
    font-size: 50px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-left: 180px;
}
.feren-picture{
    width: 350px;
    height: 500px;
    background-color: #211F1F;
    margin-top: 80px;
    margin-left: 130px;
}
.feren-picture img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.feren-text{
    position: absolute;
    width: 690px;
    height: 550px;
    background-color: #211F1F;
    top: 130px;
    right: 140px;
}
.feren-text p{
    color: white;
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 40px;
}
.feren-text h2{
    margin-top: 150px;
    color: white;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    line-height: 2px;

}
.feren-text h3{
    color: white;
    font-size: 15px;
    font-family: "Inter", sans-serif;
    font-weight: 400;

}
.cover-web{
    width: 100%;
    background-color: #211F1F;
}
.web{
    position: relative;
    margin: auto;
    width: 1400px;
    height: 1200px;
    background-color: #211F1F;
    top: 60px;
}
.web h1{
    margin: 0;
    color: #EFA800;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-left: 80px;

}
.web h2{
    color: white;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-left: 80px;

}
.web h3{
    color: #EFA800;
    font-size: 25px;
    text-decoration: underline;
    margin-left: 80px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
.web-picture-one{
    position: absolute;
    width: 620px;
    height: 550px;
    background-color: white;
    top: 0;
    right: 150px;
    border: 5px solid #EFA800;
}
.web-picture-one img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.web-picture-two{
    position: absolute;
    width: 450px;
    height: 550px;
    background-color: black;
    top: 350px;
    left: 80px;
    border: 5px solid #EFA800;
}
.web-picture-two img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.web-picture-tree{
    position: absolute;
    width: 760px;
    height: 470px;
    background-color: red;
    top: 650px;
    right: 50px;
    border: 5px solid #EFA800;
}
.web-picture-tree img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}
.cover-sever{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #211F1F;
}
.sever{
    margin: auto;
    width: 1400px;
    height: 700px;
    background-color: #211F1F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sever h1{
    position: absolute;
    color: #EFA800;
    font-size: 40px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-left: 80px;
    left: 0;
    top: 70px;

}
.box-sever{
    margin-top: 150px;
    width: 1200px;
    height: 550px;
    /* background-color: white; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    margin-top: 50px;
    width: 1030px;
    height: 60%;
    /* background-color: rgb(255, 0, 0); */
    float: left;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card1{
    width: 360px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.card1:hover{
    background-color: #EFA800;
    transition: 0.5s;
}
.sever-icon{
    width: 150px;
    height: 150px;
    /* background-color: orange; */
    margin-left: 20px;
}
.sever-icon-one{
    margin-top: 40px;
    margin-left: 30px;
    color: rgb(0, 0, 0);
    font-size: 80px;
}

.text{
    width: 250px;
    height: 150px;
    /* background-color: aqua; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 20px;
    margin-left: 50px;
}
.text h2{
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-bottom: 70px;
}
.read-more{
    width: 200px;
    height: 70px;
    /* background-color: orange; */
    margin-left: 50px;
    margin-top: 40px;
}
.read-more p{
    
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
}
.read-more p span{
    margin-left: 15px;
}
.cover-blog{
    position: relative;
    width: 100%;
    height: 1350px;
    background-color: #211F1F;
}
.blog{
    position: relative;
    margin: auto;
    width: 1400px;
    height: 1200px;
    background-color: #211F1F;
    top: 100px;

}
.blog h1{
    margin: 0;
    
    margin-left: 60px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    color: #EFA800;
    letter-spacing: 2px;
    font-weight: 500;
    line-height: 20px;

}
.blog h2{
    margin-left: 60px ;
    color: white;
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
}
.blog-pick{
    top: 40px;
    right: 100px;
    position: absolute;
    width: 720px;
    padding: 20px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    /* background-color: blue; */
    border-bottom: solid white 2px;
}
.blog-pick h1{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: white;
    font-size: 18px;
    margin-left: 10px;

}
.blog-pick h2{
    color: white;
    font-size: 25px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-left: 70px;
}
.blog-icon {
    color: #EFA800;
    font-size: 25px;
    position: absolute;
    right: 30px;
}

.cover-talk{
    width: 100%;
    background-color: #211F1F;
}
.talk{
    position: relative;
    margin: auto;
    width: 1400px;
    background-color: yellow;
}
.ask {
    position: absolute;
    width: 500px;
    height: 400px;
    /* background-color: red; */
    right: 80px;
    top: 150px;
}
.talk-text{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
    /* background-color: blue; */
    border-bottom: solid 3px white;
    margin-top: 30px;

}
.talk-text h1{
    margin-left: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
.icon-talk{
    margin-left: 130px;
    font-size: 20px;
    display: flex;
    align-items: center;
    color: #EFA800;
    /* position: absolute; */
    right: 0;
    top: 50%;
    bottom: 50%;
}
.thank {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 600px;
}
.thank h1{
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}
.thank h2{
    margin: 0;
    font-size: 25px;
    color: white;
    font-family: "Inter", sans-serif;
    font-weight: 300;
}
.app-click {
    margin: auto;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* background-color: red; */
    text-align: center;
}


@media screen and  (max-width: 768px){
    .continer{
        width: 100%;
    }
    .head{
        width: 100%;
        margin: auto;
    }
    .menu {
        width: 100%;
        word-spacing: 25px;
        margin-left: 110px;
    }
    .menu ul{
        margin: 0;
    }
    .menu ul li {
        font-size: 12px
    }
    .landing-page {
        width: 100%;
    }
    .background{
        margin-top: 100px;
        width: 100%;
        
    }
    .background img{
        width: 100%;
        object-fit: contain;
        
    }
    .human-picture {
        width: 100%;
        position: absolute;
        top: 35px;
        left: 20px;
        /* height: auto; */
    }
    .human-picture img{
        width: 250px;
        
    }
}

    
