
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.head{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(76, 75, 75);
}
.menu{
    margin-left: 20px;
}
.icon{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-left: 20px;

}
.logo {
    color: white;
    font-size: 20px;
}
.mid-page{
    padding: 20px;
    padding-bottom: 500px;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.head-icon{
    display: inline;
    justify-content: space-between;
}
.letter h1{
    font-size: 70px;
    position: absolute;
    bottom: 150px;
    color: rgb(0, 0, 0);
}
.letter p{
    position: absolute;
    bottom: 80px;
}
.comnapy-logo{
    position: absolute;
    margin-bottom: 20px;
}