body{
    margin: 0;
}
.text{
    width: 100%;
    padding: 10px;
    background-color: black;
    margin: auto;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.text h1{
    color: white;
    text-align: center;
    
}